@font-face {
  src: url('./fonts/PublicSans-Roman-VF.woff2');
  font-family:'Public Sans VF';
  font-style: normal;
}

@font-face {
  src: url('./fonts/PublicSans-Italic-VF.woff2');
  font-family:'Public Sans VF';
  font-style: italic;
}

body {
  font-family:'Public Sans VF';
}