@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

#__next {
  position: relative;
  overflow: auto;
}

button {
  outline: none !important;
}

button {
  outline: none !important;
}

.location-input .md-input {
  text-transform: capitalize;
}

